.home-right-bar {
  flex: 3;
  position: sticky;
  top: 60px;
  height: calc(100vh - 60px);
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 10px;
  }
  
  &::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: rgb(177, 170, 170);
    border: 10px solid transparent;
    border-radius: 8px;
  }
  
  .title {
    margin: 20px 0;
  }

  .frient-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}