.contacts-page {
  .contacts-page-container {
    display: flex;
    width: 100%;
  }

  .contacts-container {
    flex: 10;
  }
}

@media (max-width: 900px) {
  .contacts-page {
    .side-bar {
      display: none;
    }
  }

  @media (max-width: 600px) {
    .profile-menu {
      display: none!important;
    }
  }
}