$green-color: rgb(33, 185, 33);
$blue-color: #1877f2;

.change-user-info {
  flex: 9;
  display: flex;
  flex-direction: column;

  .form-control {
    margin-bottom: 20px;
    width: 150px;
  }

  .cancel-btn {
    background-color: $blue-color;

    &:hover {
      background-color: $blue-color;
    }
  }

  .save-btn {
    background-color: $green-color;
    margin-right: 20px;

    &:hover {
      background-color: $green-color;
    }
  }

  .form-action {
    display: flex;
  }
}