$blue: #1877f2;

.profile-right-bar {
  flex: 3;
  position: sticky;
  top: 60px;
  height: calc(100vh - 60px);
  
  .follow-btn {
    padding: 7px;
    background-color: $blue;
    font-weight: 500;
    color: white;
    text-transform: none;
    margin-top: 20px;

    &:hover {
      background-color: $blue;
    }
  }

  .title {
    margin: 20px 0;
  }

  .info {
    margin-bottom: 30px;
  }

  .info-item {
    margin-bottom: 10px;
  }

  .info-key {
    font-weight: 550;
    margin-right: 10px;
  }

  .link {
    padding: 10px 0;
    color: $blue;
  }
}