.search-form {
  width: 100%;
  height: 40px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;

  .search-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
  }

  .seacrh-icon {
    font-size: 30px!important;
  }

  .form-control {
    width: 100%;
    margin-right: 10px;
  }

  .search-input {
    margin-right: 10px;
    font-size: 17px;
    border: none;
    width: 100%;

    &:focus {
      outline: none;
    }
  }
}

@media (max-width: 600px) {
  .search-form {
    .form-action {
      display: none;
    }
  
    .form-control {
      margin-left: 10px;
    }
  }
}