.top-bar-container {
  height: 60px;
  width: 100%;
  background-color: #1877f2;
  display: flex;
  align-items: center;
  top: 0;
  z-index: 999;
  position: sticky;

  .top-bar-left {
    flex: 3;
  }

  .logo {
    margin-left: 20px;
    font-weight: bold;
    font-size: 24px;
    color:white;
  }

  .top-bar-center {
    width: 100%;
    flex: 5;
  }

  .top-bar-right {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .image {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
  }

  .link {
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
  }

  .icons {
    display: flex;
  }

  .icon-item {
    cursor: pointer;
    margin-right: 15px;
    position: relative;
  }

  .icon-badge {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    position: absolute;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    color: white;
    top: -5px;
    right: -5px;
    font-size: 12px;
  }

  .profile-menu {
    display: flex;
    align-items: center;
    margin-right: 20px;
    color: white;
    text-decoration: none;
  }

  .name {
    padding: 0 10px;
  }

  .href {
    text-decoration: none;
  }
}