$blue-color: #1775ee;
$green-color: rgb(33, 185, 33);

%form-component-parameters{
  display: flex;
  width: 100%;
}

.register-card{
  .register-form{
    .form-input{
      width: 100%;
    }
  
    .form-action {
      display: flex;
      width: 100%;
      margin-bottom: 20px;
  
      .MuiButton-label{
        text-transform: none;
        font-size: 20px;
      }
  
      .log-into-button{
        background-color: $blue-color;
      }
  
      .log-into-button:hover{
        background-color: $blue-color;
      }
  
      .create-acount-button{
        background-color: $green-color;
      }
  
      .create-acount-button:hover{
        background-color: $green-color;
      }
  
      button{
        width: 100%;
      }
    }
  
    .form-control{
      @extend %form-component-parameters;
      margin-bottom: 20px;
  
      input{
        width: 100%;
      }
    }
  
    .form-text{
      @extend %form-component-parameters;
      margin-bottom: 20px;
      text-align: center;
  
      span{
        width: 100%;
      }
    }
  
    .last-element{
      margin-bottom: 0;
    }
  }
}

@media (max-width: 900px){
  .register-card{
    width: 100%;
    
    .card-container{
      background-color: #f0f2f5;
      width: 100%;
      max-width: 400px;
      padding: 0;
      box-shadow:none;
    }

    .form-input{
      background-color: white;
    }
    
    .login-button, 
    .create-button, 
    .log-into-button, 
    .create-acount-button{
      height: 35px;
    }
  }
}