.form-control-register, 
.form-action-register, 
.form-text-register{
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.register-form{
  padding: 20px;
  width: 400px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.form-control-register input, 
.form-action-register button, 
.form-text-register span{
  width: 100%;
}

.form-input-register{
  width: 100%;
}

.form-action-register .MuiButton-label{
  text-transform: none;
  font-size: 20px;
}

.form-action-register .log-into-button{
  background-color: #1775ee;
}

.form-action-register .log-into-button:hover{
  background-color: #1775ee;
}

.form-action-register .create-acount-button{
  background-color: rgb(33, 185, 33);
}

.form-action-register .create-acount-button:hover{
  background-color: rgb(33, 185, 33);
}


.form-text-register{
  text-align: center;
}