.change-password{
  height: 100vh;
  width: 100vw;
  background-color: #f0f2f5;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.change-passwor-logo{
  font-size: 50px;
  font-weight: 780;
  text-align: center;
  padding-bottom: 20px;
  color: #1775ee;
  padding-top: 50px;
}