.change-password-form-control, 
.change-password-form-action, 
.change-password-form-text{
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.change-password-form{
  height: max-content;
  padding: 20px;
  width: 400px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.change-password-form-control input,
.change-password-form-text span{
  width: 100%;
}

.change-password-form-input{
  width: 100%;
}

.change-password-form-action 
.MuiButton-label{
  text-transform: none;
  font-size: 20px;
}

.change-password-search-button{
  background-color: #1775ee!important;
}

.change-password-cancel-button{
  background-color: #9ca2b8!important;
  margin-right: 10px!important;
}

.change-password-form-text{
  text-align: center;
  justify-content: center;
}

.change-password-form-btn-block{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}