.change-password-card{
  .change-password-form{
    .form-control{
      display: flex;
      width: 100%;
      margin-bottom: 20px;
  
      input{
        width: 100%;
      }
  
      &.execute-button{
        display: flex;
        justify-content: flex-end;
      }
    }
  
    .change-password-form-action{
      display: flex;
      width: 100%;
      margin-bottom: 20px;
  
      .MuiButton-label{
        text-transform: none;
        font-size: 20px;
      }
    }
  
    .form-text{
      display: flex;
      width: 100%;
      margin-bottom: 20px;
      text-align: center;
      justify-content: center;
  
      span{
        width: 100%;
      }
    }
  
    .form-input{
      width: 100%;
    }
    
    .change-password-button{
      background-color: #1775ee!important;
    }
  
    .cancel-button{
      background-color: #9ca2b8!important;
      margin-right: 10px!important;
    }
  
    .form-btn-block{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
  
    .last-element{
      margin-bottom: 0;
    }
  }
}

@media (max-width: 900px){
  .change-password-card{
    width: 300px;

    .card-container{
      background-color: #f0f2f5;
      width: 100%;
      max-width: 400px;
      padding: 0;
      box-shadow:none;
    }

    .change-password-form{
      .form-input{
        background-color: white;
      }
    
      .cancel-button,
      .change-password-button{
        height: 35px;
      }
    }
  }

  @media (max-width:300px){
    .change-password-card{
      width: 100%;
    }
  }
}