$blue-color: #1775ee;
$green-color: rgb(33, 185, 33);

.register-card {
  .form-input {
    width: 100%;
  }

  .form-action {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
  }

  .btn {
    text-transform: none;
    font-size: 20px;
  }

  .log-into-button {
    width: 100%;
    background-color: $blue-color;

    &:hover {
      background-color: $blue-color;
    }
  }

  .create-acount-button {
    background-color: $green-color;
    width: 100%;

    &:hover {
      background-color: $green-color;
    }
  }

  .form-control {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
  }

  .form-content {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
  }

  .last-element {
    margin-bottom: 0;
  }
}

@media (max-width: 900px){
  .register-card {
    width: 100%;
    
    .card-container {
      background-color: #f0f2f5;
      width: 100%;
      max-width: 400px;
      padding: 0;
      box-shadow:none;
    }

    .form-input {
      background-color: white;
    }
    
    .login-button, 
    .create-button, 
    .log-into-button, 
    .create-acount-button {
      height: 35px;
    }
  }
}